/Semester  5/SWT301/5.Code/Swt_Lab2/nbproject/private/
/Semester  5/SWT301/5.Code/Swt_Lab2/build/
/Semester  5/SWT301/5.Code/SWT_LAB02/nbproject/private/
/Semester  5/SWT301/5.Code/SWT_LAB02/build/
/Semester  5/SWT301/5.Code/caulatePoint/nbproject/private/
/Semester  5/SWT301/5.Code/caulatePoint/build/
/Semester 4/PRJ301/TestNetbean/nbproject/private/
/Semester 4/PRJ301/TestNetbean/build/
/Semester 4/PRJ301/test2/nbproject/private/
/Semester 4/PRJ301/test2/build/
/Semester 4/PRJ301/TestNetbean/dist/
